
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a target="_blank" 
                            href="https://wwww.fhirTools.net">

                        </a>
                    </li>
                </ul>
                <p class="copyright">
<!--                    &copy; Creative Tim - coded by AppSeed.-->
                </p>
            </nav>
        </div>
    </footer>
