<div class="sidebar" data-image="{{ ASSETS_ROOT }}/img/sidebar-6.jpg" data-color="blue" >
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo h5">
            <b>FHIR Demo Client </b>
            <a href="/" class="simple-text">
            </a>
        </div>
        <ul class="nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="/">
                    <i class="fas fa-solar-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'user' in segment %} active {% endif %}">
                <a class="nav-link" href="/user.html">
                    <i class="fas fa-user-circle"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'table' in segment %} active {% endif %}">
                <a class="nav-link" href="/patients">
                    <i class="fas fa-hospital-user"></i>
                    <p>Patients</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'table' in segment %} active {% endif %}">
                <a class="nav-link" href="/appointments">
                    <i class="fas fa-calendar-check"></i>
                    <p>Appointments</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'typography' in segment %} active {% endif %}">
                <a class="nav-link" href="/hospitals">
                    <i class="fas fa-building"></i>
                    <p>Hospitals</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'icons' in segment %} active {% endif %}">
                <a class="nav-link" href="/healthcare-services">
                    <i class="fas fa-briefcase-medical"></i>
                    <p>Healthcare Services</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'maps' in segment %} active {% endif %}">
                <a class="nav-link" href="/practitioners">
                    <i class="fas fa-user-md"></i>
                    <p>Practitioners</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'notif' in segment %} active {% endif %}">
                <a class="nav-link" href="/conditions">
                    <i class="fas fa-allergies"></i>
                    <p>Conditions</p>
                </a>
            </li>

<!--            <li class="nav-item nav-item {% if '404' in segment %} active {% endif %}">-->
<!--                <a class="nav-link" href="/page-404.html">-->
<!--                    <i class="nc-icon nc-settings-gear-64"></i>-->
<!--                    <p>Error 404</p>-->
<!--                </a>-->
<!--            </li>-->
            <li>
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="nc-icon nc-button-power"></i>
                    <p>Logout</p>
                </a>
            </li>
            
<!--            <li class="nav-item active active-pro">-->
<!--                <a class="nav-link active" target="_blank" -->
<!--                   href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">-->
<!--                    <i class="nc-icon nc-spaceship"></i>-->
<!--                    <p>PRO Version</p>-->
<!--                </a>-->
<!--            </li>-->
            {% else %}
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link active" target="_blank" -->
<!--                   href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">-->
<!--                    <i class="nc-icon nc-spaceship"></i>-->
<!--                    <p>PRO Version</p>-->
<!--                </a>-->
<!--            </li>-->
            {% endif %}
        </ul>
    </div>
</div>
